<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
/*******************************************************************************
**                                                                            **
** Copyright (C) Infineon Technologies (2020)                                 **
**                                                                            **
** All rights reserved.                                                       **
**                                                                            **
** This document contains proprietary information belonging to Infineon       **
** Technologies. Passing on and copying of this document, and communication   **
** of its contents is not permitted without prior written authorization.      **
**                                                                            **
********************************************************************************
**                                                                            **
**  FILENAME  : plugin.xml                                                    **
**                                                                            **
**  VERSION   : 1.40.0_12.0.0                                                 **
**                                                                            **
**  DATE      : 2020-01-20                                                    **
**                                                                            **
**  VARIANT   : Variant PB                                                    **
**                                                                            **
**  PLATFORM  : Infineon AURIX2G                                              **
**                                                                            **
**  AUTHOR    : DL-AUTOSAR-Engineering                                        **
**                                                                            **
**  VENDOR    : Infineon Technologies                                         **
**                                                                            **
**  TRACEABILITY : [cover parentID={4693AECC-5B10-44f2-80EA-DFA3147EE1F9},
                                   {3CA55CD5-E2EB-4dbd-BB1A-BA389F318F3B},
                                   {10ED6F0E-9159-4a4d-B684-9BE5DBD6A9CE}]    **
**                                                                            **
**  DESCRIPTION  : Tresos plugin for Adc Driver                               **
**                                                                            **
**  [/cover]                                                                  **
**                                                                            **
**  SPECIFICATION(S) : Specification of Adc Driver, AUTOSAR Release 4.2.2     **
**                                                                            **
**  MAY BE CHANGED BY USER : no                                               **
**                                                                            **
*******************************************************************************/
-->
<plugin>

  <extension point="dreisoft.tresos.launcher2.plugin.module"
             id="Adc_Aurix2GAS422_ModuleExt"
             name="Adc Module with template generator">

    <module id="Adc_Aurix2GAS422"
            label="%ModuleLabel"
            mandatory="false"
            allowMultiple="true"
            description="%ModuleDesc"
            copyright="(c) 2020 Infineon Technologies"
            swVersionMajor="10"
            swVersionMinor="40"
            swVersionPatch="0"
            specVersionMajor="4"
            specVersionMinor="2"
            specVersionPatch="2"
            relVersionMajor="4"
            relVersionMinor="2"
            relVersionPatch="2"
            categoryType="%ModuleName"
            categoryLayer="MCAL"
            categoryCategory="ECU Firmware"
            categoryComponent="ECUC">
      <!-- [cover parentID={10AF712D-DB25-422f-97F0-107FF010D212}] Cluster MCAL [/cover] -->
      <cluster name="MCAL"/>
      <ecuType target="AURIX2G" derivate="TC387"/>
      <ecuType target="AURIX2G" derivate="TC389"/>
      <ecuType target="AURIX2G" derivate="TC397"/>
      <ecuType target="AURIX2G" derivate="TC397_ADAS"/>
      <ecuType target="AURIX2G" derivate="TC399"/>
      <ecuType target="AURIX2G" derivate="TC356_ADAS"/>
      <ecuType target="AURIX2G" derivate="TC357_ADAS"/>
      <ecuType target="AURIX2G" derivate="TC375"/>
      <ecuType target="AURIX2G" derivate="TC377"/>
      <ecuType target="AURIX2G" derivate="TC374_ED"/>
      <ecuType target="AURIX2G" derivate="TC375_ED"/>
      <ecuType target="AURIX2G" derivate="TC377_ED"/>
      <ecuType target="AURIX2G" derivate="TC377_ED_EX"/>
      <ecuType target="AURIX2G" derivate="TC364_LQFP"/>
      <ecuType target="AURIX2G" derivate="TC364_TQFP"/>
      <ecuType target="AURIX2G" derivate="TC365"/>
      <ecuType target="AURIX2G" derivate="TC366"/>
      <ecuType target="AURIX2G" derivate="TC367"/>
      <ecuType target="AURIX2G" derivate="TC332"/>
      <ecuType target="AURIX2G" derivate="TC333"/>
      <ecuType target="AURIX2G" derivate="TC334"/>
      <ecuType target="AURIX2G" derivate="TC336"/>
      <ecuType target="AURIX2G" derivate="TC337"/>
      <ecuType target="AURIX2G" derivate="TC336_ED_ADAS"/>
      <ecuType target="AURIX2G" derivate="TC337_ED_ADAS"/>
      <ecuType target="AURIX2G" derivate="TC322"/>
      <ecuType target="AURIX2G" derivate="TC323"/>
      <ecuType target="AURIX2G" derivate="TC324"/>
      <ecuType target="AURIX2G" derivate="TC327"/>
    </module>
  </extension>

  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
             id="Adc_Aurix2GAS422_ConfigExt"
             name="Adc_Aurix2G Configuration">
    <configuration moduleId="Adc_Aurix2GAS422">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Adc.xdm" type="xdm"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/AURIX2G/EcucDefs/Adc"/>
      </data>

      <editor id="Adc_Aurix2GAS422_Edit"
              label="%ModuleName"
              tooltip="%ModuleDesc">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/AURIX2G/EcucDefs/Adc"/>
          <parameter name="title" value="Adc"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

   <!-- this extension point needs to be defined and point to the configuratin parameters for the Loadable and the Selectable use case -->
  <extension
      point="dreisoft.tresos.autosar2.api.plugin.postbuildSetup"
      id="Adc_Aurix2GAS422_PostBuildExt">
    <configuration
         activeLoadableRef="ASPath:/AURIX2G/EcucDefs/EcuC/EcucSelectedLoadableVariant/EcucSelectedLoadableRef"
         activeSelectableRef="ASPath:/AURIX2G/EcucDefs/EcuC/EcucPostBuildVariants/EcucSelectedPostBuildVariantRef"
         selectableRefs="ASPath:/AURIX2G/EcucDefs/EcuC/EcucPostBuildVariants/EcucPostBuildVariantRef">
     </configuration>
  </extension>
  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="Adc_Aurix2GAS422_GenExt"
              name="Adc_Aurix2G Generator">
    <generator moduleId="Adc_Aurix2GAS422"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">

      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate/template"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate/template"/>

      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>

      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>
     
    <!-- only having this parameter set to true, a generator is called once for each variant! -->
      <parameter name="variantAware" value="true"/>

    </generator>
  
  </extension>

  
  <!-- this post-generator just calls an ant script which renames the file created by the TemplateBasedCodeGenerator defined above
       otherwise the next run of the TemplateBasedCodeGenerator for another variant would overwrite the file -->
  <extension point="dreisoft.tresos.generator.api.plugin.generator"
             id="Adc_Aurix2GAS422_Gen_Template_MoveFile">
    <generator moduleId="Adc_Aurix2GAS422"
               id="Adc_Aurix2GAS422_Gen_Template_MoveFile"
               class="dreisoft.tresos.generator.ng.api.NGGenerator"
               modes="generate,Template_withPostRename"
               step="post">
      <!-- Specify the ant build script as parameter to the NGGenerator. -->
      <parameter name="buildfile"  value="generate/template_ant/ant_generator.xml"/>

      <!-- only having this parameter set to true, a generator is called once for each variant! -->
      <parameter name="variantAware" value="true"/>
    </generator>
  </extension>
</plugin>
