<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
/*******************************************************************************
**                                                                            **
** Copyright (C) Infineon Technologies (2020)                                 **
**                                                                            **
** All rights reserved.                                                       **
**                                                                            **
** This document contains proprietary information belonging to Infineon       **
** Technologies. Passing on and copying of this document, and communication   **
** of its contents is not permitted without prior written authorization.      **
**                                                                            **
********************************************************************************
**                                                                            **
**  FILENAME  : plugin.xml                                                    **
**                                                                            **
**  VERSION   : 1.40.0_11.0.0                                                 **
**                                                                            **
**  DATE      : 2020-02-26                                                    **
**                                                                            **
**  VARIANT   : Variant PB                                                    **
**                                                                            **
**  PLATFORM  : Infineon AURIX2G                                              **
**                                                                            **
**  AUTHOR    : DL-AUTOSAR-Engineering                                        **
**                                                                            **
**  VENDOR    : Infineon Technologies                                         **
**                                                                            **
**  TRACEABILITY : [cover parentID= {688D2FA7-7763-4834-9E06-7131943CCAF3}]   **
**                                                                            **
**  DESCRIPTION  : Tresos plugin for Lin_17_AscLin Driver                     **
**                                                                            **
**  [/cover]                                                                  **
**                                                                            **
**  SPECIFICATION(S) : Specification of Lin Driver, AUTOSAR Release 4.2.2     **
**                                                                            **
**  MAY BE CHANGED BY USER : no                                               **
**                                                                            **
*******************************************************************************/
-->
<!-- [cover parentID={A6441ED2-CF72-40f9-B26D-BD0C8B9BBA95}]
    [/cover] -->
<!-- [cover parentID={48CD5217-A922-4458-92C7-CA0620267850}]
    [/cover] -->
<!-- [cover parentID={1166947E-C7D5-4d10-ACA5-8A2968862370}]
    [/cover] -->
<plugin>

    <extension point="dreisoft.tresos.launcher2.plugin.module"
         id="Lin_Aurix2GAS422_ModuleExt"
         name="Lin Module with code template generator">
        <module id="Lin_Aurix2GAS422"
                label="%ModuleLabel"
              mandatory="false"
                allowMultiple="true"
                description="%ModuleDesc"
                 copyright="(c) 2020 Infineon Technologies"
                swVersionMajor="10"
                swVersionMinor="40"
                swVersionPatch="1"
                specVersionMajor="4"
                specVersionMinor="2"
                specVersionPatch="2"
                relVersionMajor="4"
                relVersionMinor="2"
                relVersionPatch="2"
                categoryType="%ModuleName"
                categoryLayer="MCAL"
                categoryCategory="ECU Firmware"
                categoryComponent="ECUC">
      <!-- [cover parentID={7CAE8916-2C6A-4368-BA73-A9AF43A9A7D1}] Cluster Definition [/cover] -->
           <cluster name="Lin Stack"/>
           <ecuType target="AURIX2G" derivate="TC387"/>
           <ecuType target="AURIX2G" derivate="TC389"/>
           <ecuType target="AURIX2G" derivate="TC397"/>
           <ecuType target="AURIX2G" derivate="TC397_ADAS"/>
           <ecuType target="AURIX2G" derivate="TC399"/>
           <ecuType target="AURIX2G" derivate="TC356_ADAS"/>
           <ecuType target="AURIX2G" derivate="TC357_ADAS"/>
           <ecuType target="AURIX2G" derivate="TC375"/>
           <ecuType target="AURIX2G" derivate="TC377"/>
           <ecuType target="AURIX2G" derivate="TC375_ED"/>
           <ecuType target="AURIX2G" derivate="TC377_ED"/>
           <ecuType target="AURIX2G" derivate="TC377_ED_EX"/>
           <ecuType target="AURIX2G" derivate="TC364_LQFP"/>
           <ecuType target="AURIX2G" derivate="TC364_TQFP"/>
           <ecuType target="AURIX2G" derivate="TC365"/>
           <ecuType target="AURIX2G" derivate="TC366"/>
           <ecuType target="AURIX2G" derivate="TC367"/>
           <ecuType target="AURIX2G" derivate="TC332"/>
           <ecuType target="AURIX2G" derivate="TC333"/>
           <ecuType target="AURIX2G" derivate="TC334"/>
           <ecuType target="AURIX2G" derivate="TC337"/>
           <ecuType target="AURIX2G" derivate="TC336"/>
           <ecuType target="AURIX2G" derivate="TC337_ED_ADAS"/>
           <ecuType target="AURIX2G" derivate="TC336_ED_ADAS"/>
           <ecuType target="AURIX2G" derivate="TC322"/>
           <ecuType target="AURIX2G" derivate="TC323"/>
           <ecuType target="AURIX2G" derivate="TC324"/>
           <ecuType target="AURIX2G" derivate="TC327"/>
           <ecuType target="AURIX2G" derivate="TC374_ED"/>

       </module>
   </extension>

   <extension point="dreisoft.tresos.launcher2.plugin.configuration"
              id="Lin_Aurix2GAS422_ConfigExt"
              name="Lin_Aurix2G Configuration">
    <configuration moduleId="Lin_Aurix2GAS422">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Lin_17_AscLin.xdm" type="xdm"/>
      </schema>

      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/AURIX2G/EcucDefs/Lin"/>
      </data>

           <editor id="Lin_Aurix2GAS422_Edit"
                   label="%ModuleName"
                   tooltip="%ModuleDesc">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/AURIX2G/EcucDefs/Lin"/>
          <parameter name="title" value="Lin"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>

   <!-- this extension point needs to be defined and point to the configuratin parameters for the Loadable and the Selectable use case -->
  <extension
      point="dreisoft.tresos.autosar2.api.plugin.postbuildSetup"
      id="Lin_Aurix2GAS422_PostBuildExt">
    <configuration
         activeLoadableRef="ASPath:/AURIX2G/EcucDefs/EcuC/EcucSelectedLoadableVariant/EcucSelectedLoadableRef"
         activeSelectableRef="ASPath:/AURIX2G/EcucDefs/EcuC/EcucPostBuildVariants/EcucSelectedPostBuildVariantRef"
         selectableRefs="ASPath:/AURIX2G/EcucDefs/EcuC/EcucPostBuildVariants/EcucPostBuildVariantRef">
     </configuration>
  </extension>

   <!--
     This extension draws the connection between the module, and the com importer.
   -->
  <extension point="dreisoft.tresos.comimporter.api.plugin.comtransformer">
    <comtransformer
           id="ComTransformer_Lin_Aurix2GAS422"
           moduleId="Lin_AurixA2GS422">
      <transformer
             class="dreisoft.tresos.comimporter.api.transformer.asr40.LinTransformer">
      </transformer>
    </comtransformer>
  </extension>


  <extension point="dreisoft.tresos.launcher2.plugin.generator"
              id="Lin_Aurix2GAS422_GenExt"
              name="Lin_Aurix2G Generator">
    <generator moduleId="Lin_Aurix2GAS422"
               class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">

      <!-- common template path parameters -->
      <parameter name="templates"
                 mode="generate,verify" value="generate/template"/>

      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
                 mode="generate_swcd" value="generate/template"/>

      <parameter name="mode_type"
                 mode="verify_swcd" value="verify"/>

      <parameter name="templates"
                 mode="generate_swcd,verify_swcd" value="generate_swcd"/>

    <!-- only having this parameter set to true, a generator is called once for each variant! -->
      <parameter name="variantAware" value="true"/>

    </generator>

    </extension>


  <!-- this post-generator just calls an ant script which renames the file created by the TemplateBasedCodeGenerator defined above
       otherwise the next run of the TemplateBasedCodeGenerator for another variant would overwrite the file -->
  <extension point="dreisoft.tresos.generator.api.plugin.generator"
             id="Lin_Aurix2GAS422_Gen_Template_MoveFile">
    <generator moduleId="Lin_Aurix2GAS422"
               id="Lin_Aurix2GAS422_Gen_Template_MoveFile"
               class="dreisoft.tresos.generator.ng.api.NGGenerator"
               modes="generate,Template_withPostRename"
               step="post">
      <!-- Specify the ant build script as parameter to the NGGenerator. -->
      <parameter name="buildfile"  value="generate/template_ant/ant_generator.xml"/>

      <!-- only having this parameter set to true, a generator is called once for each variant! -->
      <parameter name="variantAware" value="true"/>
    </generator>
  </extension>


  <!-- an example NGGenerator which calls a common ant-script
       within the ant-script it is also possible to call tresos Studio generators
       in the example-script, a single code-template file is generated with a custom file-name (depending on the variants name)
  -->
  <extension
         point="dreisoft.tresos.generator.api.plugin.generator"
         id="Lin_Aurix2GAS422_Gen_NG">
      <generator
            class="dreisoft.tresos.generator.ng.api.NGGenerator"
            id="Lin_Aurix2GAS422_Gen_NGId"
            modes="generate,NG_PostfixAndMove"
            moduleId="EcuC_VariantsDemo">

          <!-- Specify the ant build script as parameter to the NGGenerator. -->
          <parameter name="buildfile" value="generate/ng/ant_generator.xml"/>

          <!-- only having this parameter set to true, a generator is called once for each variant! -->
          <parameter name="variantAware" value="true"/>
      </generator>
   </extension>

</plugin>

