<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
/*******************************************************************************
**                                                                            **
** Copyright (C) Infineon Technologies (2020)                                 **
**                                                                            **
** All rights reserved.                                                       **
**                                                                            **
** This document contains proprietary information belonging to Infineon       **
** Technologies. Passing on and copying of this document, and communication   **
** of its contents is not permitted without prior written authorization.      **
**                                                                            **
********************************************************************************
**                                                                            **
**  FILENAME  : plugin.xml                                                    **
**                                                                            **
**  VERSION   : 1.40.0_7.0.0                                                  **
**                                                                            **
**  DATE      : 2020-02-27                                                    **
**                                                                            **
**  VARIANT   : Variant PB                                                    **
**                                                                            **
**  PLATFORM  : Infineon AURIX2G                                              **
**                                                                            **
**  AUTHOR    : DL-AUTOSAR-Engineering                                        **
**                                                                            **
**  VENDOR    : Infineon Technologies                                         **
**                                                                            **
**  TRACEABILITY : [cover parentID= ]                                         **
**                                                                            **
**  DESCRIPTION  : Tresos plugin for Dem Driver                               **
**                                                                            **
**  [/cover]                                                                  **
**                                                                            **
**  SPECIFICATION(S) : Specification of Diagnostic Event Manager,             **
**                     AUTOSAR Release 4.2.2                                  **
**                                                                            **
**  MAY BE CHANGED BY USER : yes                                              **
**                                                                            **
*******************************************************************************/
-->
<plugin>
  <extension point="dreisoft.tresos.launcher2.plugin.module"
    id="Dem_Aurix2GAS422_ModuleExt"
    name="Dem Module">
    <module id="Dem_Aurix2GAS422"
      label="%ModuleLabel"
      mandatory="false"
      allowMultiple="true"
      description="%ModuleDesc"
      copyright="(c) 2020 Infineon Technologies"
      swVersionMajor="10"
      swVersionMinor="40"
      swVersionPatch="0"
      specVersionMajor="4"
      specVersionMinor="2"
      specVersionPatch="2"
      relVersionMajor="4"
      relVersionMinor="2"
      relVersionPatch="2"
      categoryType="%ModuleName"
      categoryLayer="MCAL"
      categoryCategory="ECU Firmware"
      categoryComponent="ECUC">
      <cluster name="MCAL"/>
      <ecuType target="AURIX2G" derivate="TC387"/>
      <ecuType target="AURIX2G" derivate="TC389"/>
      <ecuType target="AURIX2G" derivate="TC397"/>
      <ecuType target="AURIX2G" derivate="TC397_ADAS"/>
      <ecuType target="AURIX2G" derivate="TC399"/>
      <ecuType target="AURIX2G" derivate="TC356_ADAS"/>
      <ecuType target="AURIX2G" derivate="TC357_ADAS"/>
      <ecuType target="AURIX2G" derivate="TC375"/>
      <ecuType target="AURIX2G" derivate="TC377"/>
      <ecuType target="AURIX2G" derivate="TC375_ED"/>
      <ecuType target="AURIX2G" derivate="TC377_ED"/>
      <ecuType target="AURIX2G" derivate="TC377_ED_EX"/>
      <ecuType target="AURIX2G" derivate="TC364_LQFP"/>
      <ecuType target="AURIX2G" derivate="TC364_TQFP"/>
      <ecuType target="AURIX2G" derivate="TC365"/>
      <ecuType target="AURIX2G" derivate="TC366"/>
      <ecuType target="AURIX2G" derivate="TC367"/>
      <ecuType target="AURIX2G" derivate="TC332"/>
      <ecuType target="AURIX2G" derivate="TC333"/>
      <ecuType target="AURIX2G" derivate="TC334"/>
      <ecuType target="AURIX2G" derivate="TC337"/>
      <ecuType target="AURIX2G" derivate="TC336"/>
      <ecuType target="AURIX2G" derivate="TC337_ED_ADAS"/>
      <ecuType target="AURIX2G" derivate="TC336_ED_ADAS"/>
      <ecuType target="AURIX2G" derivate="TC322"/>
      <ecuType target="AURIX2G" derivate="TC323"/>
      <ecuType target="AURIX2G" derivate="TC324"/>
      <ecuType target="AURIX2G" derivate="TC327"/>
      <ecuType target="AURIX2G" derivate="TC374_ED"/>
    </module>
  </extension>
  <extension point="dreisoft.tresos.launcher2.plugin.configuration"
    id="Dem_Aurix2GAS422_ConfigExt"
    name="Dem_Aurix2G Configuration">
    <configuration moduleId="Dem_Aurix2GAS422">
      <schema>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarSchemaManager"/>
        <resource value="config/Dem.xdm" type="xdm"/>
      </schema>
      <data>
        <manager class="dreisoft.tresos.autosar2.resourcehandling.AutosarConfigManager"/>
        <schemaNode path="ASPath:/AURIX2G/EcucDefs/Dem"/>
      </data>
      <editor id="Dem_Aurix2GAS422_Edit"
        label="%ModuleName"
        tooltip="%ModuleDesc">
        <class class="dreisoft.tresos.launcher2.editor.GenericConfigEditor">
          <parameter name="schema" value="ASPath:/AURIX2G/EcucDefs/Dem"/>
          <parameter name="title" value="Dem"/>
          <parameter name="noTabs" value="false"/>
          <parameter name="noLinks" value="true"/>
          <parameter name="groupLinks" value="false"/>
          <parameter name="groupContainers" value="false"/>
          <parameter name="groupTables" value="true"/>
          <parameter name="optionalGeneralTab" value="true"/>
        </class>
      </editor>
    </configuration>
  </extension>
  <!-- this extension point needs to be defined and point to the configuratin parameters for the Loadable and the Selectable use case -->
  <extension
    point="dreisoft.tresos.autosar2.api.plugin.postbuildSetup"
    id="Dem_Aurix2GAS422_PostBuildExt">
    <configuration
      activeLoadableRef="ASPath:/AURIX2G/EcucDefs/EcuC/EcucSelectedLoadableVariant/EcucSelectedLoadableRef"
      activeSelectableRef="ASPath:/AURIX2G/EcucDefs/EcuC/EcucPostBuildVariants/EcucSelectedPostBuildVariantRef"
      selectableRefs="ASPath:/AURIX2G/EcucDefs/EcuC/EcucPostBuildVariants/EcucPostBuildVariantRef">
    </configuration>
  </extension>
  <extension point="dreisoft.tresos.launcher2.plugin.generator"
    id="Dem_Aurix2GAS422_GenExt"
    name="Dem_Aurix2G Generator">
    <generator moduleId="Dem_Aurix2GAS422"
      class="dreisoft.tresos.launcher2.generator.TemplateBasedCodeGenerator">
      <!-- common template path parameters -->
      <parameter name="templates"
        mode="generate,verify" value="generate/template"/>
      <!-- swcd modes and template path parameters -->
      <parameter name="mode_type"
        mode="generate_swcd" value="generate/template"/>
      <parameter name="mode_type"
        mode="verify_swcd" value="verify"/>
      <parameter name="templates"
        mode="generate_swcd,verify_swcd" value="generate_swcd"/>
      <!-- only having this parameter set to true, a generator is called once for each variant! -->
      <parameter name="variantAware" value="true"/>
    </generator>
  </extension>
  <!-- this post-generator just calls an ant script which renames the file created by the TemplateBasedCodeGenerator defined above
  otherwise the next run of the TemplateBasedCodeGenerator for another variant would overwrite the file -->
  <extension point="dreisoft.tresos.generator.api.plugin.generator"
    id="Dem_Aurix2GAS422_Gen_Template_MoveFile">
    <generator moduleId="Dem_Aurix2GAS422"
      id="Dem_Aurix2GAS422_Gen_Template_MoveFile"
      class="dreisoft.tresos.generator.ng.api.NGGenerator"
      modes="generate,Template_withPostRename"
      step="post">
      <!-- Specify the ant build script as parameter to the NGGenerator. -->
      <parameter name="buildfile"  value="generate/template_ant/ant_generator.xml"/>
      <!-- only having this parameter set to true, a generator is called once for each variant! -->
      <parameter name="variantAware" value="true"/>
    </generator>
  </extension>
</plugin>
